.listTask__task {
  background-color: lightcoral;
  margin-top: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.listTask__task > p {
  color: #000;
  font-size: 14px;
  font-weight: 300;
}
.listTask__task .deleteBtn {
  background-color: darkmagenta;
  border: none;
  outline: none;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}
.listTask__task > .deleteBtn:hover {
  background-color: green;
  color: #fff;
}
.listTask__task .editBtn {
  background-color: darkmagenta;
  border: none;
  outline: none;
  height: 40px;
  position: absolute;
  top: 0;
  right: 38px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-right: 2px solid lightgray;
}
.listTask__task > .editBtn:hover {
  background-color: green;
  color: #fff;
}
